<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this Vessel from being deployed:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :direction %>
    <%= form.select :direction, ['','H', 'V'] %>
  </div>

  <div class="field">
    <%= form.label :x_pos %>
    <%= form.select :x_pos, ['','A', 'B','C','D', 'E', 'F', 'G', 'H', 'I', 'J'] %>
  </div>

  <div class="field">
    <%= form.label :y_pos %>
    <%= form.select :y_pos,['','1', '2','3','4', '5', '6', '7', '8', '9', '10']  %>
  </div>

  <div class="actions">
    <%= form.submit yield(:button_text) %>
  </div>
<% end %>
