<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this Vessel from being deployed:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  
  <%= form.hidden_field :direction, value: "H" %>

  <div class="actions">
    <%= form.submit yield(:button_text) %>
  </div>
<% end %>
