<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>PA name</th>
      <th>PB name</th>
      <th style="text-align:left;">Last Saved</th>
      <th colspan="2" ></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.pA_name %></td>
        <td><%= game.pB_name %></td>
        <td><%= game.updated_at %></td>
        <td><%= link_to 'Play', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
