@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* grids */

body {
  margin: 40px;
}

.playwrapper {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.playbox {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

/* Grid grids */

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 25px);
  grid-template-rows: repeat(11, 25px);
  padding: 10px;
}

.X-CORDS-ROW-Zero {
grid-column: 1 / 2;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-One {
grid-column: 2 / 3;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Two {
grid-column: 3 / 4;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Three {
grid-column: 4 / 5;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Four {
grid-column: 5 / 6;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Five {
grid-column: 6 / 7;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Six {
grid-column: 7 / 8;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Seven {
grid-column: 8 / 9;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Eight {
grid-column: 9 / 10;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Nine {
grid-column: 10 / 11;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Ten {
grid-column: 11 / 12;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Zero {
grid-column: 1 / 2;
grid-row: 2 / 3;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-One {
grid-column: 2 / 3;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Two {
grid-column: 3 / 4;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Three {
grid-column: 4 / 5;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Four {
grid-column: 5 / 6;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Five {
grid-column: 6 / 7;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Six {
grid-column: 7 / 8;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Seven {
grid-column: 8 / 9;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Eight {
grid-column: 9 / 10;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Nine {
grid-column: 10 / 11;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Ten {
grid-column: 11 / 12;
grid-row: 2 / 3;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Zero {
grid-column: 1 / 2;
grid-row: 3 / 4;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-One {
grid-column: 2 / 3;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Two {
grid-column: 3 / 4;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Three {
grid-column: 4 / 5;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Four {
grid-column: 5 / 6;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Five {
grid-column: 6 / 7;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Six {
grid-column: 7 / 8;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Seven {
grid-column: 8 / 9;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Eight {
grid-column: 9 / 10;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Nine {
grid-column: 10 / 11;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Ten {
grid-column: 11 / 12;
grid-row: 3 / 4;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Zero {
grid-column: 1 / 2;
grid-row: 4 / 5;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-One {
grid-column: 2 / 3;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Two {
grid-column: 3 / 4;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Three {
grid-column: 4 / 5;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Four {
grid-column: 5 / 6;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Five {
grid-column: 6 / 7;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Six {
grid-column: 7 / 8;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Seven {
grid-column: 8 / 9;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Eight {
grid-column: 9 / 10;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Nine {
grid-column: 10 / 11;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Ten {
grid-column: 11 / 12;
grid-row: 4 / 5;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Zero {
grid-column: 1 / 2;
grid-row: 5 / 6;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-One {
grid-column: 2 / 3;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Two {
grid-column: 3 / 4;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.D-Three {
grid-column: 4 / 5;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Four {
grid-column: 5 / 6;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Five {
grid-column: 6 / 7;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Six {
grid-column: 7 / 8;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Seven {
grid-column: 8 / 9;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Eight {
grid-column: 9 / 10;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Nine {
grid-column: 10 / 11;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Ten {
grid-column: 11 / 12;
grid-row: 5 / 6;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Zero {
grid-column: 1 / 2;
grid-row: 6 / 7;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-One {
grid-column: 2 / 3;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Two {
grid-column: 3 / 4;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Three {
grid-column: 4 / 5;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Four {
grid-column: 5 / 6;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Five {
grid-column: 6 / 7;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Six {
grid-column: 7 / 8;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Seven {
grid-column: 8 / 9;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Eight {
grid-column: 9 / 10;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Nine {
grid-column: 10 / 11;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Ten {
grid-column: 11 / 12;
grid-row: 6 / 7;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Zero {
grid-column: 1 / 2;
grid-row: 7 / 8;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-One {
grid-column: 2 / 3;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Two {
grid-column: 3 / 4;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Three {
grid-column: 4 / 5;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Four {
grid-column: 5 / 6;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Five {
grid-column: 6 / 7;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Six {
grid-column: 7 / 8;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Seven {
grid-column: 8 / 9;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Eight {
grid-column: 9 / 10;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Nine {
grid-column: 10 / 11;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Ten {
grid-column: 11 / 12;
grid-row: 7 / 8;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Zero {
grid-column: 1 / 2;
grid-row: 8 / 9;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-One {
grid-column: 2 / 3;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Two {
grid-column: 3 / 4;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Three {
grid-column: 4 / 5;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Four {
grid-column: 5 / 6;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Five {
grid-column: 6 / 7;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Six {
grid-column: 7 / 8;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Seven {
grid-column: 8 / 9;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Eight {
grid-column: 9 / 10;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Nine {
grid-column: 10 / 11;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Ten {
grid-column: 11 / 12;
grid-row: 8 / 9;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Zero {
grid-column: 1 / 2;
grid-row: 9 / 10;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-One {
grid-column: 2 / 3;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Two {
grid-column: 3 / 4;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Three {
grid-column: 4 / 5;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Four {
grid-column: 5 / 6;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Five {
grid-column: 6 / 7;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Six {
grid-column: 7 / 8;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Seven {
grid-column: 8 / 9;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Eight {
grid-column: 9 / 10;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Nine {
grid-column: 10 / 11;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Ten {
grid-column: 11 / 12;
grid-row: 9 / 10;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Zero {
grid-column: 1 / 2;
grid-row: 10 / 11;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-One {
grid-column: 2 / 3;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Two {
grid-column: 3 / 4;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Three {
grid-column: 4 / 5;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Four {
grid-column: 5 / 6;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Five {
grid-column: 6 / 7;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Six {
grid-column: 7 / 8;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Seven {
grid-column: 8 / 9;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Eight {
grid-column: 9 / 10;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Nine {
grid-column: 10 / 11;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Ten {
grid-column: 11 / 12;
grid-row: 10 / 11;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Zero {
grid-column: 1 / 2;
grid-row: 11 / 12;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-One {
grid-column: 2 / 3;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Two {
grid-column: 3 / 4;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Three {
grid-column: 4 / 5;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Four {
grid-column: 5 / 6;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Five {
grid-column: 6 / 7;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Six {
grid-column: 7 / 8;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Seven {
grid-column: 8 / 9;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Eight {
grid-column: 9 / 10;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Nine {
grid-column: 10 / 11;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Ten {
grid-column: 11 / 12;
grid-row: 11 / 12;
border: 1px solid rgba(125, 1250, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}